.container{
    border: 5px solid #ffcc5c;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    height: 100%;
    

    
}

html, body{
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-color: #ffeead;
}

/* .home{
    margin-right: auto;
} */

.home   {
    flex: 1;
}


