.container{
    border: 5px solid #ffcc5c;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
     

    
}

html, body{
    box-sizing: border-box;
    /* height: 100%; */
    padding: 10px;
    background-color: #ffeead;
}

.search{
    flex:1;
}

@media all and (max-wdith: 600px){
    .container{
        flex-wrap: wrap;
    }
}




